[package]
name = "user-pending-delete-toggle"
version = "0.0.1"
edition = "2021"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
rivet-operation = { path = "../../../../../lib/operation/core" }
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"

user-identity-get = { path = "../../../user-identity/ops/get" }

[dependencies.sqlx]
version = "0.7"
default-features = false

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }

faker-user = { path = "../../../faker/ops/user" }
user-identity-create = { path = "../../../user-identity/ops/create" }
