# Default provider
map /s3-cache ${s3_providers[s3_default_provider].endpoint_internal} @plugin=s3_auth.so @pparam=--config @pparam=/etc/trafficserver-s3-auth/s3_auth_v4_${s3_default_provider}.config

# Configured providers
%{ for provider_name, provider in s3_providers }
map /s3-cache/${provider_name} ${provider.endpoint_internal} @plugin=s3_auth.so @pparam=--config @pparam=/etc/trafficserver-s3-auth/s3_auth_v4_${provider_name}.config
%{ endfor }

