[http.services.loki-tunnel]
	[[http.services.loki-tunnel.loadBalancer.servers]]
		url = "{{ loki_url }}"

[http.routers.loki-tunnel]
	entryPoints = ["loki"]
	rule = "PathPrefix(`/`)"
	service = "loki-tunnel"
	middlewares = ["loki-tunnel-headers", "cloudflare-tunnel-auth"]

[http.middlewares.loki-tunnel-headers]
	[http.middlewares.loki-tunnel-headers.headers.customRequestHeaders]
		Host = "{{ loki_url.split('//')[1] }}"


[http.middlewares.cloudflare-tunnel-auth]
	[http.middlewares.cloudflare-tunnel-auth.headers.customRequestHeaders]
		CF-Access-Client-Id = "{{ access_client_id }}"
		CF-Access-Client-Secret = "{{ access_client_secret }}"
