services {
	name = "{{service_name}}"
	tags = ["redis", "listen"]

	port = {{port}}
	checks = [
		{
			name = "Reachable on {{port}}"
			tcp = "127.0.0.1:{{port}}"
			interval = "10s"
			timeout  = "1s"
		}
	]
}

