[package]
name = "module-game-version-publish"
version = "0.0.1"
edition = "2021"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
rivet-operation = { path = "../../../../../lib/operation/core" }
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"
unzip-n = "0.1.2"
itertools = "0.10.5"

[dependencies.sqlx]
version = "0.7"
default-features = false

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }
module-game-version-get = { path = "../game-version-get" }
faker-game = { path = "../../../faker/ops/game" }
