:root {
	--background: 0 0% 100%;
	--foreground: 20 14.3% 4.1%;
	--card: 0 0% 100%;
	--card-foreground: 20 14.3% 4.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 20 14.3% 4.1%;
	--primary: 24.6 95% 53.1%;
	--primary-foreground: 60 9.1% 97.8%;
	--secondary: 60 4.8% 95.9%;
	--secondary-foreground: 24 9.8% 10%;
	--muted: 60 4.8% 95.9%;
	--muted-foreground: 25 5.3% 44.7%;
	--muted-destructive: 0 72% 30%;
	--accent: 60 4.8% 95.9%;
	--accent-foreground: 24 9.8% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 60 9.1% 97.8%;
	--border: 20 5.9% 90%;
	--input: 20 5.9% 90%;
	--ring: 24.6 95% 53.1%;
	--radius: 0.5rem;
}
:root[class~="dark"] {
	--background: 20 14.3% 4.1%;
	--foreground: 60 9.1% 97.8%;
	--card: 0 9.09% 6.47%;
	--card-foreground: 60 9.1% 97.8%;
	--popover: 0 9.09% 6.47%;
	--popover-foreground: 60 9.1% 97.8%;
	--primary: 18.5 100% 50%;
	--primary-foreground: 60 9.1% 97.8%;
	--secondary: 12 6.5% 15.1%;
	--secondary-foreground: 60 9.1% 97.8%;
	--muted: 34 10% 10%;
	--muted-foreground: 24 5.4% 63.9%;
	--accent: 12 6.5% 15.1%;
	--accent-foreground: 60 9.1% 97.8%;
	--destructive: 0 72.2% 50.6%;
	--destructive-foreground: 60 9.1% 97.8%;
	--warning: 47.9 95.8% 53.1%;
	--border: 12 6.5% 15.1%;
	--input: 12 6.5% 15.1%;
	--ring: 18.59deg 100% 50%;
	--background-main: 0 7.14% 5.49%;
}

:root {
	--chart-1: 12 76% 61%;
	--chart-2: 173 58% 39%;
	--chart-3: 197 37% 24%;
	--chart-4: 43 74% 66%;
	--chart-5: 27 87% 67%;
}

.dark {
	--chart-1: 18.5 100% 50%;
	--chart-2: 160 60% 45%;
	--chart-3: 30 80% 55%;
	--chart-4: 280 65% 60%;
	--chart-5: 340 75% 55%;
}
