# MARK: Docker-specific
.git/

# MARK: Copied from .gitignore
**/.DS_Store

# Env
.env*.local

# Rust
**/target

# JavaScript
**/*.log*
**/.cache/
**/.next/
**/.turbo
**/.yarn
**/dist/
**/node_modules/
**/target

# Frontend
!frontend/dist/

