# Make sure to update .gitignore appropriately
# 
# Make sure to keep the `gen` folder because this is where we generate our
# Dockerfiles to.

# Git
**/.git/
**/.gitignore

**/.DS_Store
**/symbolCache.db

# Terraform
tf/

# Vagrant
.vagrant-remote
.vagrant-digitalocean-token
**/.vagrant/

# Docker
**/Dockerfile

# Bolt
**/tests/
.bolt-meta.json
.volumes/
Bolt.local.toml
/secrets/

# Rust
**/target/
**/pkg/
**/*.rustfmt

# JavaScript
**/.cache/
**/dist/
**/node_modules/
ptato.sh
