# MARK: Docker-specific
.git/

# MARK: Copied from .gitignore ===
**/.DS_Store

# Rust
**/target

# JavaScript
**/.cache/
**/.turbo
**/.yarn
**/dist/
**/node_modules/
**/target
.turbo

# Site
site/public/rss/
!site/public/rss/.gitkeep

site/src/generated/
!site/src/generated/errorPages.json
!site/src/generated/apiPages.json
!site/src/generated/meta.json

