# Keep all .gitignore files in this file so we can easily keep it in sync with .dockerignore
#
# Make sure to update .dockerignore appropriately

**/.DS_Store

# Env
.env*.local

# Rust
**/target

# JavaScript
**/*.log*
**/.cache/
**/.next/
**/.turbo
**/.yarn
**/dist/
**/node_modules/
**/vendor/
**/target

# Site
site/public/rss/
!site/public/rss/.gitkeep

site/src/generated/
!site/src/generated/errorPages.json
!site/src/generated/apiPages.json
!site/src/generated/meta.json

# Icons
frontend/packages/icons/src/*

.aider*
