* text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text

**/Cargo.lock linguist-generated=true

# Prevent from counting in the language statistics
out/** linguist-generated=true
sdks/api/** linguist-generated=true
sdks/api/fern/** linguist-generated=false

site/public/llms.txt linguist-generated=true
site/public/llms-full.txt linguist-generated=true
site/public/docs/**/*.md linguist-generated=true
**/Cargo.lock linguist-generated=true

