[submodule "externals/sqlx"]
	path = externals/sqlx
	url = https://github.com/rivet-gg/sqlx
[submodule "externals/nomad-client"]
	path = externals/nomad-client
	url = https://github.com/rivet-gg/nomad-client
[submodule "externals/deno"]
	path = externals/deno
	url = https://github.com/rivet-gg/deno
[submodule "externals/posthog-rs"]
	path = externals/posthog-rs
	url = https://github.com/rivet-gg/posthog-rs
[submodule "externals/cloudflare-rs"]
	path = externals/cloudflare-rs
	url = https://github.com/cloudflare/cloudflare-rs
[submodule "externals/rivet-term"]
	path = externals/rivet-term
	url = https://github.com/rivet-gg/rivet-term
[submodule "externals/redis-rs"]
	path = externals/redis-rs
	url = https://github.com/rivet-gg/redis-rs
[submodule "externals/serde_array_query"]
	path = externals/serde_array_query
	url = https://github.com/rivet-gg/serde_array_query
