{
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 110,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"proseWrap": "always",
				"tabWidth": 2,
				"embeddedLanguageFormatting": "off"
			}
		},
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": "*.json",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
