<?xml version="1.0"?>

<!-- This config file is intended to make sure that migrations are compatible with ClickHouse Cloud. We don't use replication in development, but we have to be able to support the `RelpicatedMergeTree` engine. -->
<clickhouse>
    <logger>
        <level>trace</level>
        <console>1</console>
    </logger>

    <!-- Enable embedded ZooKeeper -->
    <zookeeper>
        <node>
            <host>localhost</host>
            <port>9181</port>
        </node>
    </zookeeper>

    <!-- Start embedded ZooKeeper -->
    <keeper_server>
        <tcp_port>9181</tcp_port>
        <server_id>1</server_id>
        <log_storage_path>/var/lib/clickhouse/coordination/log</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>

        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>warning</raft_logs_level>
        </coordination_settings>

        <raft_configuration>
            <server>
                <id>1</id>
                <hostname>localhost</hostname>
                <port>9234</port>
            </server>
        </raft_configuration>
    </keeper_server>

	<!-- Default ZooKeeper paths for replication -->
    <default_replica_path>/clickhouse/tables/{shard}/{database}/{table}</default_replica_path>
    <default_replica_name>{replica}</default_replica_name>

    <!-- Replication configuration -->
    <macros>
        <cluster>cluster1</cluster>
        <replica>replica1</replica>
        <shard>01</shard>
    </macros>
</clickhouse>

