services {
	id = "cockroach-sql"
	name = "cockroach"
	tags = ["cockroach", "sql"]

	port = 26257
	checks = [
		{
			name = "Reachable on 26257"
			tcp = "{{nebula_ipv4}}:26257"
			interval = "10s"
			timeout  = "1s"
		}
	]
}

services {
	id = "cockroach-listen"
	name = "cockroach"
	tags = ["cockroach", "listen"]

	port = 26258
	checks = [
		{
			name = "Reachable on 26258"
			tcp = "{{nebula_ipv4}}:26258"
			interval = "10s"
			timeout  = "1s"
		}
	]
}

services {
	id = "cockroach-http"
	name = "cockroach"
	tags = ["cockroach", "http"]

	port = 26300
	checks = [
		{
			name = "/health?ready=1"
			http = "http://{{nebula_ipv4}}:26300/health?ready=1"
			interval = "10s"
			timeout  = "2s"
		}
	]
}

