# We use Consul to manage `retry_join` unless running without a Consul client
# on the same machine.
#
# For optimal configuration, see
# https://github.com/hashicorp/c2m/blob/master/terraform/c1m-control-plane/templates/nomad.hcl

region = "global"
datacenter = "{{ grains['rivet']['region_id'] }}"
data_dir = "/opt/nomad/data"
name = "{{ grains['rivet']['name'] }}"

bind_addr = "{{nebula_ipv4}}"

addresses {
	http = "{{nebula_ipv4}} 127.0.0.1"
}

telemetry {
	collection_interval = "1s"
	disable_hostname = true
	prometheus_metrics = true
	publish_allocation_metrics = true
	publish_node_metrics = true
}

# Needed for Prometheus rate limiting and consul-template
limits {
	http_max_conns_per_client = 4096
	rpc_max_conns_per_client = 4096
}

