{% set public_ipv4 = salt['network.ip_addrs'](type='public')[0] %}
{% set private_ipv4 = salt['network.ip_addrs'](type='private')[0] %}

server {
	enabled = true
	bootstrap_expect = {{ pillar['nomad']['leader_count'] }}

	# Make leader elections less likely during resource starvation. Comes at
	# the expense of less preditable leader elections.
	raft_multiplier = 5

	# See recommendations https://developer.hashicorp.com/nomad/docs/configuration/server#client-heartbeats
	heartbeat_grace = "30s"

	job_gc_threshold = "1m"
	eval_gc_threshold = "1m"
	deployment_gc_threshold = "1m"

	search {
		fuzzy_enabled = false
	}
}
