{%- for cert_id in traefik.tls_certs %}
[[tls.certificates]]
	certFile = "/etc/ingress_proxy/tls/{{ cert_id }}_cert.pem"
	keyFile = "/etc/ingress_proxy/tls/{{ cert_id }}_key.pem"
{%- endfor %}

{%- if traefik.tls_client_cert %}
[tls.options.default.clientAuth]
	caFiles = ["/etc/ingress_proxy/tls/traefik_client.crt"]
	clientAuthType = "RequireAndVerifyClientCert"
{%- endif %}

