[package]
name = "pegboard-container-runner"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[[bin]]
name = "rivet-container-runner"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
nix.workspace = true
rivet-logs.workspace = true
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.111"
signal-hook = "0.3.17"

[dev-dependencies]
portpicker = "0.1.1"
tempfile = "3.9.0"
uuid = { version = "1.6.1", features = ["v4"] }
