#
# volume.config
#
# Documentation:
#    https://docs.trafficserver.apache.org/en/latest/admin-guide/files/volume.config.en.html
#
# This file specifies the various volumes, their sizes and the
# protocol they belong to. Use this file in conjunction with the
# hosting.config file.
#
#  Each line consists of a tag value pair.
#    volume=<volume_number> scheme=<protocol_type> size=<volume_size>
#
#  volume_number can be any value between 1 and 255.
#  This limits the maximum number of volumes to 255.
#  Volume number 0 is reserved for the special free volume.
#  Each line MUST have a distinct volume number.
#
#  The only scheme currently supported is 'http.
#
#  volume_size can either be specified in percentage of the total
#  cache space or absolute value. It must be a multiple of 128 Megabytes,
#  with 128 Megabytes being the smallest size possible. If specified in
#  percentage, the size is rounded down to the closest multiple of
#  128 Megabytes. A volume can be as big as the whole cache.
#  Each volume is striped across several disks to
#  achieve parallel I/O. For example, if there are 4 disks,
#  a 1 Gigabyte volume will have 256 Megabytes on each
#  disk (assuming each disk has enough free space available).
#
# To create one volume of size 10% of the total cache space and
# another 1 Gig  volume,
#  volume=1 scheme=http size=10%
#  volume=2 scheme=http size=1024
