{% set container_name = db %}
{% set image = 'redis:' ~ version ~ '-alpine' %}

[Unit]
Description=Redis
After=docker.service
Requires=docker.service network.target

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=2
ExecStartPre=-/usr/bin/docker stop {{container_name}}
ExecStartPre=-/usr/bin/docker rm {{container_name}}
ExecStartPre=/usr/bin/docker pull {{image}}
ExecStart=/bin/sh -c '/usr/bin/docker run --rm --name {{container_name}} --user "$(id -u redis):$(id -g redis)" -v /etc/redis/{{db}}.conf:/etc/redis/{{db}}.conf {% if persistent %}-v /var/lib/redis/{{db}}/db:/var/lib/redis/{{db}}/db{% endif %} --network host -p "{{port}}:{{port}}" {{image}} /etc/redis/{{db}}.conf'

[Install]
WantedBy=multi-user.target

