bind {{nebula_ipv4}} 127.0.0.1
port {{port}}

maxmemory {{maxmemory_mb}}mb

{% if persistent %}
save 600 1
maxmemory-policy volatile-ttl
dir /var/lib/redis/{{db}}/db/
{% else %}
save ""
maxmemory-policy allkeys-lru
{% endif %}

