[package]
name = "module-instance-call"
version = "0.0.1"
edition = "2018"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"
rivet-operation = { path = "../../../../../lib/operation/core" }

module-instance-get = { path = "../instance-get" }
module-version-get = { path = "../version-get" }
serde = { version = "1.0", features = ["derive"] }
reqwest = "0.11"

[dependencies.sqlx]
version = "0.6"
default-features = false

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }
rand = "0.8"
