[Unit]
Description=Apache Traffic Server
After=network-online.target

[Service]
Type=simple
User=trafficserver
Group=trafficserver
Environment="TM_START=yes"
# Environment="TS_ROOT=/etc/trafficserver"
PIDFile=/run/trafficserver/manager.lock
ExecStart=/var/rivet-nix/result/traffic_server/bin/traffic_manager $TM_DAEMON_ARGS
ExecReload=/var/rivet-nix/result/traffic_server/bin/traffic_manager config reload
{% if 'local' in pillar.rivet.deploy and pillar.rivet.deploy.local.restrict_service_resources %}
Nice=10
CPUAffinity=0
{% endif %}

[Install]
WantedBy=multi-user.target

