LOCAL proxy.local.incoming_ip_to_bind STRING __VLAN_IP__
CONFIG proxy.config.http.server_ports STRING 8080

# MARK: HTTP cache
# Make all content cachable no matter the headers
CONFIG proxy.config.http.cache.required_headers INT 0
CONFIG proxy.config.http.cache.when_to_revalidate INT 3
CONFIG proxy.config.http.cache.ignore_client_no_cache INT 1
CONFIG proxy.config.http.cache.ignore_server_no_cache INT 1
CONFIG proxy.config.http.cache.ims_on_client_no_cache INT 0
CONFIG proxy.config.http.cache.ignore_authentication INT 1
CONFIG proxy.config.http.cache.ignore_accept_mismatch INT 1
CONFIG proxy.config.http.cache.ignore_accept_language_mismatch INT 1
CONFIG proxy.config.http.cache.ignore_accept_encoding_mismatch INT 1
CONFIG proxy.config.http.cache.ignore_accept_charset_mismatch INT 1
CONFIG proxy.config.http.cache.ignore_client_cc_max_age INT 1

# MARK: DNS
# Enable TCP fallback for DNS
CONFIG proxy.config.dns.connection_mode INT 1

# Disable plugin reloading
#
# See https://lists.apache.org/thread/5w5qyxm6fpwz5bl1jldk7no1p6roy4lg
CONFIG proxy.config.plugin.dynamic_reload_mode INT 0

CONFIG proxy.config.http.cache.http INT 1
CONFIG proxy.config.http.cache.ignore_client_no_cache INT 1
CONFIG proxy.config.http.cache.ignore_server_no_cache INT 1
CONFIG proxy.config.http.cache.ims_on_client_no_cache INT 0

