[package]
name = "region-get"
version = "0.0.1"
edition = "2021"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
rivet-operation = { path = "../../../../../lib/operation/core" }
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"

cluster-datacenter-get = { path = "../../../cluster/ops/datacenter-get" }
cluster-datacenter-location-get = { path = "../../../cluster/ops/datacenter-location-get" }

[dependencies.sqlx]
version = "0.7"
default-features = false

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }

faker-region = { path = "../../../faker/ops/region" }
