[package]
name = "region-list-for-game"
version = "0.0.1"
edition = "2021"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
rivet-operation = { path = "../../../../../lib/operation/core" }
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"

cluster-get-for-game = { path = "../../../cluster/ops/get-for-game" }
cluster-datacenter-list = { path = "../../../cluster/ops/datacenter-list" }

[dependencies.sqlx]
version = "0.7"
default-features = false

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }

faker-region = { path = "../../../faker/ops/region" }
