[package]
name = "chirp-worker-attributes"
description = "Server manager for running a Chirp worker."
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true

[lib]
proc-macro = true

[dependencies]
quote = "1.0"
proc-macro2 = "1.0"

[dev-dependencies]
chirp-worker = { path = "../worker" }
prost = "0.10"

[dependencies.syn]
version = "2.0"
features = ["full"]
