[package]
name = "cdn-site-create"
version = "0.0.1"
edition = "2021"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
rivet-operation = { path = "../../../../../lib/operation/core" }
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"

game-get = { path = "../../../game/ops/get" }
upload-prepare = { path = "../../../upload/ops/prepare" }

[dependencies.sqlx]
git = "https://github.com/rivet-gg/sqlx"
rev = "08d6e61aa0572e7ec557abbedb72cebb96e1ac5b"
default-features = false

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }
reqwest = "0.11"

faker-game = { path = "../../../faker/ops/game" }
upload-complete = { path = "../../../upload/ops/complete" }
upload-get = { path = "../../../upload/ops/get" }
