[package]
name = "api-internal-monolith"
version = "0.0.1"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
edition = "2021"
license = "Apache-2.0"

[dependencies]
api-helper = { path = "../../../lib/api-helper/build" }
async-trait = "0.1"
chirp-client = { path = "../../../lib/chirp/client" }
http = "0.2"
hyper = { version = "0.14", features = ["server", "http1", "tcp"] }
rivet-operation = { path = "../../../lib/operation/core" }
tokio = { version = "1.40" }
tracing = "0.1"
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "fmt",
    "json",
    "ansi",
] }
url = "2.2.2"

api-traefik-provider = { path = "../traefik-provider" }
api-provision = { path = "../provision" }
