<?xml version="1.0"?>
<clickhouse>
    <profiles>
        <default>
            <max_memory_usage>10000000000</max_memory_usage>
            <load_balancing>random</load_balancing>
        </default>

        <readonly>
            <readonly>1</readonly>
        </readonly>
    </profiles>

    <users>
        <bolt>
			<password>{{ pillar['clickhouse']['users']['bolt']['password'] }}</password>
        </bolt>

        <chirp>
			<password>{{ pillar['clickhouse']['users']['chirp']['password'] }}</password>
        </chirp>

        <grafana>
			<password>{{ pillar['clickhouse']['users']['grafana']['password'] }}</password>
            <profile>readonly</profile>
        </grafana>
    </users>

    <quotas>
        <default>
            <!-- Limits for time interval. You could specify many intervals with different limits. -->
            <interval>
                <!-- Length of interval. -->
                <duration>3600</duration>

                <!-- No limits. Just calculate resource usage for time interval. -->
                <queries>0</queries>
                <errors>0</errors>
                <result_rows>0</result_rows>
                <read_rows>0</read_rows>
                <execution_time>0</execution_time>
            </interval>
        </default>
    </quotas>

</clickhouse>

