services {
	id = "traefik-lb-80"
	name = "{{service_name}}"
	tags = ["traefik", "lb-80"]

	port = 80
	checks = [
		{
			name = "Reachable on 80"
			tcp = "127.0.0.1:80"
			interval = "10s"
			timeout  = "1s"
		}
	]
}

services {
	id = "traefik-lb-443"
	name = "{{service_name}}"
	tags = ["traefik", "lb-443"]

	port = 443
	checks = [
		{
			name = "Reachable on 443"
			tcp = "127.0.0.1:443"
			interval = "10s"
			timeout  = "1s"
		}
	]
}

services {
	id = "traefik-client"
	name = "{{service_name}}"
	tags = ["traefik", "api"]

	port = 9980
	checks = [
		{
			name = "Reachable on 9980"
			tcp = "{{nebula_ipv4}}:9980"
			interval = "10s"
			timeout  = "1s"
		}
	]
}

