# https://docs.trafficserver.apache.org/en/9.1.x/admin-guide/plugins/s3_auth.en.html?highlight=s3_auth_v4#aws-authentication-version-4
access_key={{s3_access_key_id}}
secret_key={{s3_secret_access_key}}
version=4
v4-region-map=s3_region_map.config
