{% set s3_host = s3_endpoint.split('://')[1] if '://' in s3_endpoint else s3_endpoint %}
{% set s3_hostname = s3_host.split(':')[0] if s3_host and ':' in s3_host else s3_host %}

# Default region
{{s3_hostname}}: {{s3_region}}

