[package]
name = "job-gc"
version = "0.0.1"
edition = "2018"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
chirp-client = { path = "../../../../../lib/chirp/client" }
chrono = "0.4"
futures-util = "0.3"
indoc = "1.0"
lazy_static = "1.4"
nomad-client = "0.0.9"
nomad-util = { path = "../../../../../lib/nomad-util" }
prost = "0.10"
rivet-connection = { path = "../../../../../lib/connection" }
rivet-health-checks = { path = "../../../../../lib/health-checks" }
rivet-metrics = { path = "../../../../../lib/metrics" }
rivet-operation = { path = "../../../../../lib/operation/core" }
rivet-pools = { path = "../../../../../lib/pools" }
rivet-runtime = { path = "../../../../../lib/runtime" }
serde_json = "1.0"
tokio = { version = "1.29", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", default-features = false, features = ["fmt", "json", "ansi"] }
uuid = { version = "1", features = ["serde"] }

[dependencies.sqlx]
version = "0.7"
default-features = false
features = [
	"runtime-tokio",
	"postgres",
	"uuid",
	"json",
	"macros",
]

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }

faker-job-run = { path = "../../../faker/ops/job-run" }
job-run-get = { path = "../../../job-run/ops/get" }
