[package]
name = "cloud-version-get"
version = "0.0.1"
edition = "2021"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
rivet-operation = { path = "../../../../../lib/operation/core" }
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"
util-mm = { package = "rivet-util-mm", path = "../../../mm/util" }

cdn-version-get = { path = "../../../cdn/ops/version-get" }
identity-config-version-get = { path = "../../../identity-config/ops/version-get" }
kv-config-version-get = { path = "../../../kv-config/ops/version-get" }
mm-config-version-get = { path = "../../../mm-config/ops/version-get" }

[dependencies.sqlx]
git = "https://github.com/rivet-gg/sqlx"
rev = "08d6e61aa0572e7ec557abbedb72cebb96e1ac5b"
default-features = false

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }

faker-build = { path = "../../../faker/ops/build" }
faker-game = { path = "../../../faker/ops/game" }
faker-region = { path = "../../../faker/ops/region" }
cloud-version-publish = { path = "../version-publish" }
