[package]
name = "load-test-api-cloud"
version = "0.0.1"
edition = "2021"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
chirp-client = { path = "../../../../../lib/chirp/client" }
rivet-operation = { path = "../../../../../lib/operation/core" }
rivet-connection = { path = "../../../../../lib/connection" }
rivet-runtime = { path = "../../../../../lib/runtime" }
tokio = { version = "1.29", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", default-features = false, features = [
    "fmt",
    "json",
    "ansi",
] }
tracing-logfmt = "0.3"
rivet-api = { path = "../../../../../sdks/full/rust" }
reqwest = "0.11"

faker-game = { path = "../../../faker/ops/game" }
faker-team = { path = "../../../faker/ops/team" }
user-identity-create = { path = "../../../user-identity/ops/create" }
token-create = { path = "../../../token/ops/create" }

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }
