[package]
name = "mm-lobby-find-fail"
version = "0.0.1"
edition = "2018"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
rivet-operation = { path = "../../../../../lib/operation/core" }
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"
util-mm = { package = "rivet-util-mm", path = "../../util" }

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }
