services {
	name = "traffic-server"
	tags = [
		"traffic-server",
		"proxy",

		{% for prefix in ["traefik-ing-px", "traefik-local"] %}
		"{{prefix}}.enable=true",

		# MARK: middlewares.ats-cors
		"{{prefix}}.http.middlewares.ats-cors.headers.accessControlAllowMethods=GET, OPTIONS",
		"{{prefix}}.http.middlewares.ats-cors.headers.accessControlAllowOriginList=https://{{domain['base']}}",
		"{{prefix}}.http.middlewares.ats-cors.headers.accessControlMaxAge=300",

		# MARK: middlewares.ats-cors-game
		"{{prefix}}.http.middlewares.ats-cors-game.headers.accessControlAllowMethods=GET, OPTIONS",
		"{{prefix}}.http.middlewares.ats-cors-game.headers.accessControlAllowOriginList=*",
		"{{prefix}}.http.middlewares.ats-cors-game.headers.accessControlMaxAge=300",

		# MARK: middlewares.ats-cdn
		"{{prefix}}.http.middlewares.ats-cdn.chain.middlewares=ats-cdn-retry, ats-cdn-compress, ats-cdn-cache-control",

		# MARK: middlewares.ats-cdn-lfs
		# Used for large file delivery. We disable compression because Traefik
		# is CPU-bound when sending large files. We disable cache control since
		# the files are big.
		"{{prefix}}.http.middlewares.ats-cdn-lfs.chain.middlewares=ats-cdn-retry",

		# MARK: middlewares.ats-cdn-retry
		"{{prefix}}.http.middlewares.ats-cdn-retry.retry.attempts=4",
		"{{prefix}}.http.middlewares.ats-cdn-retry.retry.initialInterval=1s",

		# MARK: middlewares.ats-cdn-compress
		"{{prefix}}.http.middlewares.ats-cdn-compress.compress=true",

		# MARK: middlewares.ats-cdn-cache-control
		# TODO: Do we need this if we're proxying ATS -> Traefik -> Cloudflare?
		"{{prefix}}.http.middlewares.ats-cdn-compress.compress=true",

		# MARK: middlewares.ats-cdn-cache-control
		# See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#caching_static_assets
		# and https://imagekit.io/blog/ultimate-guide-to-http-caching-for-static-assets/
		"{{prefix}}.http.middlewares.ats-cdn-cache-control.headers.customResponseHeaders.Cache-Control=public, max-age=604800, immutable",

		{% for provider, _ in s3_providers.items() %}
		{% for bucket in ["job-log", "team-billing", "lobby-history-export", "nomad-log-export"] %}
		# MARK: http.routers-{{provider}}-{{bucket}}
		"{{prefix}}.http.routers.ats-{{provider}}-{{bucket}}.entryPoints=lb-443",
		"{{prefix}}.http.routers.ats-{{provider}}-{{bucket}}.rule=Host(`cdn.{{domain['base']}}`) && PathPrefix(`/{{provider}}/{{bucket}}/`)",
		"{{prefix}}.http.routers.ats-{{provider}}-{{bucket}}.middlewares=ats-{{bucket}}-path, ats-cors, ats-cdn",
		"{{prefix}}.http.routers.ats-{{provider}}-{{bucket}}.tls=true",

		# MARK: middlewares.ats-{{provider}}-{{bucket}}-path
		"{{prefix}}.http.middlewares.ats-{{provider}}-{{bucket}}-path.replacePathRegex.regex=^/{{provider}}/{{bucket}}/(.*)",
		"{{prefix}}.http.middlewares.ats-{{provider}}-{{bucket}}-path.replacePathRegex.replacement=/s3-cache/{{provider}}/{{namespace}}-bucket-{{bucket}}/${1}",
		{% endfor %}
		{% endfor %}

		{% for bucket in ["job-log", "team-billing", "lobby-history-export", "nomad-log-export"] %}
		# MARK: http.routers-{{bucket}}
		# Default route for backwards compatibility
		"{{prefix}}.http.routers.ats-{{bucket}}.entryPoints=lb-443",
		"{{prefix}}.http.routers.ats-{{bucket}}.rule=Host(`cdn.{{domain['base']}}`) && PathPrefix(`/{{bucket}}/`)",
		"{{prefix}}.http.routers.ats-{{bucket}}.middlewares=ats-{{bucket}}-path, ats-cors, ats-cdn",
		"{{prefix}}.http.routers.ats-{{bucket}}.tls=true",

		# MARK: middlewares.ats-{{bucket}}-path
		"{{prefix}}.http.middlewares.ats-{{bucket}}-path.replacePathRegex.regex=^/{{bucket}}/(.*)",
		"{{prefix}}.http.middlewares.ats-{{bucket}}-path.replacePathRegex.replacement=/s3-cache/{{namespace}}-bucket-{{bucket}}/${1}",
		{% endfor %}

		{% endfor %}
	]

	port = 9300
	checks = [
		{
			name = "Reachable on 9300"
			tcp = "{{nebula_ipv4}}:9300"
			interval = "10s"
			timeout  = "1s"
		}
	]
}

