[package]
name = "cdn-version-prepare"
version = "0.0.1"
edition = "2018"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
rivet-operation = { path = "../../../../../lib/operation/core" }
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"

upload-get = { path = "../../../upload/ops/get" }
cdn-site-get = { path = "../site-get" }

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }

faker-game = { path = "../../../faker/ops/game" }
faker-cdn-site = { path = "../../../faker/ops/cdn-site" }
