<?xml version="1.0"?>

<!-- This config file is intended to make sure that migrations are compatible with ClickHouse Cloud. We don't use replication in development, but we have to be able to support the `RelpicatedMergeTree` engine. -->
<clickhouse>
	<path>/data/clickhouse/</path>

    <logger>
        <level>trace</level>
        <console>1</console>
    </logger>

    <!-- Enable embedded ZooKeeper -->
    <zookeeper>
        <node>
            <host>localhost</host>
            <port>9307</port>
        </node>
    </zookeeper>

    <!-- Start embedded ZooKeeper -->
    <keeper_server>
        <tcp_port>9307</tcp_port>
        <server_id>1</server_id>
        <!-- <log_storage_path>/data/clickhouse/coordination/log</log_storage_path> -->
        <!-- <snapshot_storage_path>/data/clickhouse/coordination/snapshots</snapshot_storage_path> -->

        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>warning</raft_logs_level>
        </coordination_settings>

        <raft_configuration>
            <server>
                <id>1</id>
                <hostname>localhost</hostname>
                <port>9308</port>
            </server>
        </raft_configuration>
    </keeper_server>

	<!-- Default ZooKeeper paths for replication -->
    <default_replica_path>/clickhouse/tables/{shard}/{database}/{table}</default_replica_path>
    <default_replica_name>{replica}</default_replica_name>

    <!-- Replication configuration -->
    <macros>
        <cluster>cluster1</cluster>
        <replica>replica1</replica>
        <shard>01</shard>
    </macros>

	<!-- Update ports to prevent conflicts -->
	<http_port>9300</http_port>
	<https_port>9301</https_port>
	<tcp_port>9302</tcp_port>
	<interserver_http_port>9303</interserver_http_port>
	<metrics_port>9304</metrics_port>
	<odbc_port>9305</odbc_port>
	<mysql_port>9306</mysql_port>
</clickhouse>

