# See https://developer.hashicorp.com/nomad/tutorials/enterprise/production-deployment-guide-vm-with-consul#configure-systemd

[Unit]
Description=Nomad
Wants=network-online.target
After=network-online.target
ConditionDirectoryNotEmpty=/etc/nomad.d/

{% if 'consul-client' in grains['roles'] %}
# When using Nomad with Consul it is not necessary to start Consul first. These
# lines start Consul before Nomad as an optimization to avoid Nomad logging
# that Consul is unavailable at startup.
Wants=consul.service
After=consul.service
{% endif %}

[Service]

{% if 'nomad-server' in grains['roles'] and 'nomad-client' not in grains['roles'] %}
# Nomad clients need to run as root, but the server does not need to.
User=nomad
Group=nomad
{% endif %}

ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/nomad agent -config /etc/nomad.d
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=always
RestartSec=2
TasksMax=infinity
OOMScoreAdjust=-1000
{% if pillar['rivet']['deploy']['local']['restrict_service_resources'] %}
Nice=10
CPUAffinity=0
{% endif %}

[Install]
WantedBy=multi-user.target
