[package]
name = "global-error"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true

[features]
protobuf-src = ["types-proto/protobuf-src"]
chirp = ["types-proto"]

[dependencies]
async-trait = "0.1"
formatted-error.workspace = true
types-proto = { workspace = true, optional = true }
http = "0.2"
reqwest = { version = "0.12", default-features = false }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
