[Unit]
Description=Nebula
Wants=basic.target network-online.target nss-lookup.target time-sync.target
After=basic.target network.target network-online.target
Before=sshd.service

[Service]
Type=simple
User=root
Group=root
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=nebula -config /etc/nebula/config.yaml
SyslogIdentifier=nebula
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

