# See https://doc.traefik.io/traefik-enterprise/installing/on-premise/#systemd-linux-only

[Unit]
Description=Traefik Ingress proxy
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
User=ingress_proxy
Group=ingress_proxy
ExecStart=/usr/bin/traefik --configFile=/etc/ingress_proxy/traefik.toml
PrivateTmp=true
PrivateDevices=false
ProtectHome=true
ProtectSystem=full
PermissionsStartOnly=true
NoNewPrivileges=true
LimitNOFILE=32768
AmbientCapabilities=CAP_NET_BIND_SERVICE
Restart=always
RestartSec=2
{% if 'local' in pillar.rivet.deploy and pillar.rivet.deploy.local.restrict_service_resources %}
Nice=10
CPUAffinity=0
{% endif %}

[Install]
WantedBy=multi-user.target

