@import "@/components/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground min-h-screen;
	}
	#root {
		@apply min-h-screen;
	}
}

@layer utilities {
	.overflow-r-gradient {
		mask-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, #000 45px);
	}

	.step {
		counter-increment: step;
	}

	.step:before {
		@apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-primary text-center -indent-px font-mono text-base font-medium;
		@apply ml-[-50px] mt-[-4px];
		content: counter(step);
	}

	.bg-stripes {
		background: repeating-linear-gradient(
			45deg,
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.primary.DEFAULT" / 5%),
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.primary.DEFAULT" / 5%) 20px,
			transparent 20px,
			transparent 40px
		);
	}

	.bg-stripes-destructive {
		background: repeating-linear-gradient(
			45deg,
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.destructive.DEFAULT" / 5%),
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.destructive.DEFAULT" / 5%) 20px,
			transparent 20px,
			transparent 40px
		);
	}

	.selection-primary::selection {
		/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
		background-color: theme("colors.primary.DEFAULT");

		/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
		color: theme("colors.primary.foreground");
	}
}

:root {
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-color-text: theme("colors.white");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-constant: theme("colors.violet.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-string: theme("colors.violet.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-comment: theme("colors.zinc.500");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-keyword: theme("colors.sky.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-parameter: theme("colors.pink.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-function: theme("colors.violet.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-string-expression: theme("colors.violet.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-punctuation: theme("colors.zinc.200");
}
