services {
	id = "minio-server"
	name = "minio"
	tags = [
		"minio", "server",

		{% for prefix in ["traefik-ing-px", "traefik-local"] %}
		"{{prefix}}.enable=true",

		# MARK: routers.minio
		"{{prefix}}.http.routers.minio.entryPoints=lb-443",
		"{{prefix}}.http.routers.minio.rule=Host(`storage.{{domain['base']}}`)",
		"{{prefix}}.http.routers.minio.tls=true",
		{% endfor %}
	]

	port = 9200
	checks = [
		{
			name = "Reachable on 9200"
			tcp = "{{nebula_ipv4}}:9200"
			interval = "10s"
			timeout  = "1s"
		}
	]
}

services {
	id = "minio-console"
	name = "minio"
	tags = ["minio", "console"]

	port = 9201
	checks = [
		{
			name = "Reachable on 9201"
			tcp = "{{nebula_ipv4}}:9201"
			interval = "10s"
			timeout  = "1s"
		}
	]
}

