[package]
name = "user-search-user-gc"
version = "0.0.1"
edition = "2018"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
lazy_static = "1.4"
chirp-client = { path = "../../../../../lib/chirp/client" }
rivet-operation = { path = "../../../../../lib/operation/core" }
futures-util = "0.3"
indoc = "1.0"
prost = "0.10"
rivet-connection = { path = "../../../../../lib/connection" }
rivet-runtime = { path = "../../../../../lib/runtime" }
tokio = { version = "1.29", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", default-features = false, features = ["fmt", "json", "ansi"] }

user-identity-get = { path = "../../../user-identity/ops/get" }
user-follow-count = { path = "../../../user-follow/ops/count" }

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }
chrono = "0.4"
