[package]
name = "cdn-namespace-get"
version = "0.0.1"
edition = "2021"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
rivet-operation = { path = "../../../../../lib/operation/core" }
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"

[dependencies.sqlx]
version = "0.7"
default-features = false

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }

cdn-namespace-create = { path = "../namespace-create" }
cdn-namespace-domain-create = { path = "../namespace-domain-create" }
cdn-namespace-get = { path = "../namespace-get" }
