#
# plugin.config
#
# Documentation:
#    https://docs.trafficserver.apache.org/en/latest/admin-guide/files/plugin.config.en.html
#
# Comments start with a '#' and continue to the end of the line
# Blank lines are ignored
#
# test-plugin.so arg1 arg2 arg3
#
# Example:
#inktomi/iwx/iwx.so
#inktomi/abuse/abuse.so etc/trafficserver/abuse.config
#inktomi/icx/icx.so etc/trafficserver/icx.config

header_rewrite.so no_cache.config
