[package]
name = "cdn-version-publish"
version = "0.0.1"
edition = "2021"
authors = ["Rivet Gaming, LLC <developer@rivet.gg>"]
license = "Apache-2.0"

[dependencies]
rivet-operation = { path = "../../../../../lib/operation/core" }
chirp-client = { path = "../../../../../lib/chirp/client" }
prost = "0.10"
unzip-n = "0.1.2"
itertools = "0.10.5"

[dependencies.sqlx]
git = "https://github.com/rivet-gg/sqlx"
rev = "08d6e61aa0572e7ec557abbedb72cebb96e1ac5b"
default-features = false

[dev-dependencies]
chirp-worker = { path = "../../../../../lib/chirp/worker" }

cdn-version-get = { path = "../version-get" }
faker-game = { path = "../../../faker/ops/game" }
faker-cdn-site = { path = "../../../faker/ops/cdn-site" }
