scrape_configs:
  # MARK: Node Exporter
  - job_name: 'node_exporter'
    static_configs:
      {%- for server, addr in salt['mine.get']('*', 'nebula_ipv4') | dictsort() %}
      - targets:
          - "{{addr}}:9100"
        labels:
          node: '{{server}}'
      {%- endfor %}

  # MARK: Consul
  - job_name: 'consul'
    metrics_path: '/v1/agent/metrics'
    params:
      format: ['prometheus']
    consul_sd_configs:
      - services:
          - consul
    relabel_configs:
      - source_labels: [__meta_consul_address]
        target_label: __address__
        replacement: '$1:8500'

  - job_name: 'consul_exporter'
    consul_sd_configs:
      - services:
          - consul-exporter
        tags:
          - http

  # MARK: Nomad
  - job_name: 'nomad'
    metrics_path: '/v1/metrics'
    params:
      format: ['prometheus']
    consul_sd_configs:
      - services:
          - nomad
          - nomad-client
        tags:
          - http
    relabel_configs:
      - source_labels: [__meta_consul_address]
        target_label: __address__
        replacement: '$1:4646'
    metric_relabel_configs:
      # Remove high cardinality dispatch IDs
      - source_labels: [dispatch_id]
        target_label: dispatch_id
        replacement: ""
      # Strip high cardinality unique IDs from job IDs
      - source_labels: [job]
        regex: '(.*)/dispatch-.*'
        target_label: job
        replacement: '$1'
      # Remove high cardinality systemd units
      - source_labels: [__name__,name]
        regex: 'node_systemd_unit_state;(blockdev@|dev-disk-by).*'
        action: drop

  # MARK: Local services
  - job_name: 'prometheus'
    consul_sd_configs:
      - tags:
          - prometheus
          - http

  # MARK: Nebula
  - job_name: 'nebula'
    consul_sd_configs:
      - services:
          - nebula
        tags:
          - prometheus

  # MARK: Redis
  # Scrapes less frequently since this service pulls expensive information from
  # the database
  - job_name: 'redis'
    scrape_interval: 60s
    scrape_timeout: 15s
    consul_sd_configs:
      - tags:
        - redis-exporter
        - http
    relabel_configs:
      - source_labels: [__meta_consul_service]
        regex: '^redis-exporter-(.*)$'
        target_label: db

  # MARK: Traefik
  # TODO: Monitor by Salt tmeplate to include ing-job
  - job_name: 'traefik'
    consul_sd_configs:
      - tags:
          - traefik
          - api

  # MARK: Services
  - job_name: 'rivet_service'
    consul_sd_configs:
      - tags:
        - rivet
        - metrics
    relabel_configs:
      - source_labels: [__meta_consul_service]
        target_label: consul_service

  # MARK: NATS
  - job_name: 'nats'
    metrics_path: '/metrics'
    consul_sd_configs:
      - services:
          - nats-exporter
        tags:
          - http

  # MARK: Cockroach
  - job_name: 'cockroachdb'
    metrics_path: '/_status/vars'
    consul_sd_configs:
      - tags:
          - cockroach
          - http

  # MARK: ClickHouse
  - job_name: 'clickhouse'
    consul_sd_configs:
      - services:
          - clickhouse
        tags:
          - prometheus

