[Unit]
Description=NATS Exporter
After=network.target

[Service]
Type=simple
User=nats
Group=nats
ExecStart=prometheus-nats-exporter -varz -connz -routez -subz -use_internal_server_id http://{{nebula_ipv4}}:8222
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

