# https://github.com/nats-io/nats-server/blob/c2285ab166fb9263c588034b11894fd336fe15fe/util/nats-server.service

[Unit]
Description=NATS Server
After=network.target ntp.service

[Service]
Type=simple
User=nats
Group=nats
PrivateTmp=true
ExecStart=nats-server -c /etc/nats-server.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGINT $MAINPID
Restart=always
RestartSec=2
{% if 'local' in pillar.rivet.deploy and pillar.rivet.deploy.local.restrict_service_resources %}
Nice=10
CPUAffinity=0
{% endif %}

[Install]
WantedBy=multi-user.target

